django>=6.0.4
django-cors-headers>=4.9.0
django-ninja>=1.6.2
djangorestframework>=3.17.1
google-auth>=2.49.2
mysqlclient>=2.2.8
pyjwt>=2.12.1
python-dotenv>=1.2.2
uvicorn>=0.46.0
environs>=14.1.0
firebase-admin>=6.6.0
django-prometheus>=2.3.1
django-redis>=5.4.0
redis>=5.0.4
psycopg2-binary>=2.9.12
celery>=5.4.0
structlog>=24.4.0
django-structlog>=8.1.0
amqp>=5.2.0
